@tailwind base;
@tailwind components;
@tailwind utilities;
.scroll-to-top{
    background-color: red !important;
    border-radius: 50% !important;
}
.scroll-to-top svg{
    margin-left: 5px !important;
}
.is-active{
    background-color: green !important;
}